<h1>The houses</h1>
<% @houses.each do |house| %>
  <div class="house">
    <%= link_to "#{house.name}", houses_path(@houses) %>
    <%= link_to (image_tag house.img_url), house %>

  </div>
<% end %>
