<h1><%= @houses.name %></h1>
<% @houses.students.each do |student| %>
  <div class="student">
    <h2><%= link_to student.name, student_path(student[:id]) %></h2>
    <%= image_tag student.img_url %>
  </div>
<% end %>
