<h1>Here are the students</h1>
<% @students.each do |student| %>
  <div class="student">


    <%= link_to "#{student.name}", student %> -
    <%= "#{student.house_id}" %>

    <%= image_tag student.img_url %>

  </div>

<% end %>
